<h3>Welcome to the ECS Pattern Lab.</h3>
<p>
  The Pattern Lab is an extensible library of documented UI/UX patterns and guidelines that embraces the Atomic Desgin philosphy. It extends Bootstrap to provide both 
  independent styles and a set of resusable Angular 2 components for rapidly building customized pages and apps.
</p>

<p>
  This Pattern Lab aims to facilitate website and app production by fournishing the documentation of UX and UI elements that designers can consult as well as
  working code and demos that developers can plug and use right away. 
</p>

<hr>

<p>
  TODO: add project setup; how to plug pattern lab core into parent project
  <br/>
  TODO: beautify this with icons and styles; add links to patterns 
</p>

