<div class="page-header ecs-page-header">
  <h1>Atoms</h1>
</div>

<h3>Buttons</h3>
<p>
  <button type="button" class="btn btn-lg btn-default">Default</button>
  <button type="button" class="btn btn-lg btn-primary">Primary</button>
  <button type="button" class="btn btn-lg btn-success">Success</button>
  <button type="button" class="btn btn-lg btn-info">Info</button>
  <button type="button" class="btn btn-lg btn-warning">Warning</button>
  <button type="button" class="btn btn-lg btn-danger">Danger</button>
  <button type="button" class="btn btn-lg btn-link">Link</button>
</p>
<p>
  <button type="button" class="btn btn-xs btn-default">Default</button>
  <button type="button" class="btn btn-xs btn-primary">Primary</button>
  <button type="button" class="btn btn-xs btn-success">Success</button>
  <button type="button" class="btn btn-xs btn-info">Info</button>
  <button type="button" class="btn btn-xs btn-warning">Warning</button>
  <button type="button" class="btn btn-xs btn-danger">Danger</button>
  <button type="button" class="btn btn-xs btn-link">Link</button>
</p>

<br/>

<div class="guidelines">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4>Usage guidelines</h4>
      <p>
        Tincidunt id, libero in, et dolor, orci ad sem non, sed wisi magna ante praesent. Vivamus sed eget ante ligula. Orci viverra lectus accumsan sem senectus dignissim,
        nonummy mollis. Egestas leo sit et nulla, molestie dignissim luctus tincidunt, ut nunc est. Auctor leo, cras arcu, interdum lobortis, enim nonummy tincidunt varius 
        viverra. Nunc vitae cras eu, risus nullam enim in, tincidunt aenean praesent vitae. Orci vitae, arcu nulla ullamcorper. Pellentesque at, integer ac, faucibus magna 
        urna quam elit quam habitant
      </p>
    </div>
  </div>

  <div class="row row-centered">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <div class="panel panel-default">
        <div class="panel-body">
          Graphic
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <div class="panel panel-default">
        <div class="panel-body">
          Graphic
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <div class="panel panel-default">
        <div class="panel-body">
          Graphic
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <p>
        Tincidunt id, libero in, et dolor, orci ad sem non, sed wisi magna ante praesent. Vivamus sed eget ante ligula. Orci viverra lectus accumsan sem senectus dignissim,
        nonummy mollis. Egestas leo sit et nulla, molestie dignissim luctus tincidunt, ut nunc est. Auctor leo, cras arcu, interdum lobortis, enim nonummy tincidunt varius 
        viverra. Nunc vitae cras eu, risus nullam enim in, tincidunt aenean praesent vitae. Orci vitae, arcu nulla ullamcorper. Pellentesque at, integer ac, faucibus magna 
        urna quam elit quam habitant
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4>API / Documentation</h4>
      <p>
        Tincidunt id, libero in, et dolor, orci ad sem non, sed wisi magna ante praesent. Vivamus sed eget ante ligula. Orci viverra lectus accumsan sem senectus dignissim,
        nonummy mollis.
      </p>

      <table class="table">
      <thead>
        <tr>
          <th>Property</th>
          <th>Values</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>[buttonProp1]</td>
          <td>'aButtonPropertyValue1'</td>
        </tr>
        <tr>
          <td>[buttonProp2]</td>
          <td>'aButtonPropertyValue2'</td>
        <tr>
          <td>[buttonProp3]</td>
          <td>'aButtonPropertyValue3'</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>

</div>

<p data-height="265" data-theme-id="0" data-slug-hash="RPQPPB" data-default-tab="css,result" data-user="Grsmto" data-embed-version="2" data-pen-title="Button bubble effect" class="codepen">See the Pen <a href="https://codepen.io/Grsmto/pen/RPQPPB/">Button bubble effect</a> by Adrien Grsmto (<a href="http://codepen.io/Grsmto">@Grsmto</a>) on <a href="http://codepen.io">CodePen</a>.</p>

<div class="page-header ecs-page-header">
  <h1>Molecules</h1>
</div>

<h3>Navbar</h3>

<div class="guidelines">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4>Usage guidelines</h4>
      <p>
        Tincidunt id, libero in, et dolor, orci ad sem non, sed wisi magna ante praesent. Vivamus sed eget ante ligula. Orci viverra lectus accumsan sem senectus dignissim,
        nonummy mollis. Egestas leo sit et nulla, molestie dignissim luctus tincidunt, ut nunc est. Auctor leo, cras arcu, interdum lobortis, enim nonummy tincidunt varius 
        viverra. Nunc vitae cras eu, risus nullam enim in, tincidunt aenean praesent vitae. Orci vitae, arcu nulla ullamcorper. Pellentesque at, integer ac, faucibus magna 
        urna quam elit quam habitant
      </p>
    </div>
  </div>

  <div class="row row-centered">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          Graphic
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <div class="panel panel-default">
        <div class="panel-body">
          Graphic
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <div class="panel panel-default">
        <div class="panel-body">
          Graphic
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <p>
        Tincidunt id, libero in, et dolor, orci ad sem non, sed wisi magna ante praesent. Vivamus sed eget ante ligula. Orci viverra lectus accumsan sem senectus dignissim,
        nonummy mollis. Egestas leo sit et nulla, molestie dignissim luctus tincidunt, ut nunc est. Auctor leo, cras arcu, interdum lobortis, enim nonummy tincidunt varius 
        viverra. Nunc vitae cras eu, risus nullam enim in, tincidunt aenean praesent vitae. Orci vitae, arcu nulla ullamcorper. Pellentesque at, integer ac, faucibus magna 
        urna quam elit quam habitant
      </p>
    </div>
  </div>

<p data-height="265" data-theme-id="0" data-slug-hash="vxELNB" data-default-tab="html,result" data-user="chill1" data-embed-version="2" data-pen-title="vxELNB" 
  class="codepen">See the Pen <a href="https://codepen.io/chill1/pen/vxELNB/">vxELNB</a> by chill (<a href="http://codepen.io/chill1">@chill1</a>) on 
  <a href="http://codepen.io">CodePen</a>.
</p>
