html, body{
    height: 100%;
}

body {
    background-color: #E1E1E1;
    height: 100%;
}

.ecs-container {
    padding-top: 50px;
    background-color: white;
}

.ecs-logo-topnav {
    max-width: 120px;
    margin-top: -7px;
    margin-left: 7px;
    margin-bottom: 3px;
}

.ecs-navbar {
    background-color: black;
}

.ecs-page-header {
    color: #AD1A3C;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover {
    color: gray;
}